
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
   
    background-color: rgb(175, 132, 119);
}

/* creation du conteneur, conteneur-droit, conteneur-gauche*/

.conteneur
{
    width: 800px;
    height: 1050px;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 10px 20px;
    margin-left: 20%;
    display: flex;
    margin-bottom: 3%;
    margin-top: 3%;
}
.conteneur-droit
{
  width: 450px;
  height: 1050px;
  background-color: rgb(231, 235, 234);
  border-right: 2px solid black;
}
.conteneur-gauche
{
    width: 350px;
    height: 1050px;
    background-color:  rgb(228, 196, 196);
    
}

/*Renseignement des informations dans le conteneur -droit*/

.nom
{
    margin-top: 8%;
    border-bottom: 2px solid black;
    padding-bottom: 5%;
    
}
.nom .h1
{
    color: rgb(138, 80, 10);
}
 .nom .h1 , .h2
{
    margin-left: 15%;
    
}


.profile
{

    margin-top: 12%;
    border-bottom: 2px solid black;
    padding-bottom: 5%; 
    
}
.ligne1 
{
    width: 450px;
    height: 30px;
    background-color:rgb(138, 80, 10) ;
    background: linear-gradient(90deg,rgb(138, 80, 10),rgb(226, 165, 91));
    border-right: 2px solid black;
}
.profile h2
{
    padding-top: 0.2%;
    margin-left: 15%;
    color: rgb(255, 255, 255);
}
.profile p
{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}


.education
{

    margin-top: 12%;
    border-bottom: 2px solid black;
    padding-bottom: 5%; 

}
.ligne2
{
    width: 450px;
    height: 30px;
    background-color:rgb(138, 80, 10) ;
    background: linear-gradient(90deg,rgb(138, 80, 10),rgb(226, 165, 91));
    border-right: 2px solid black;
}
.education h2
{
    padding-top: 0.1%;
    margin-left: 15%;
    color: rgb(255, 255, 255);
}
.education p
{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;
}
.p1
{
    margin-left: 15%;
    color:rgb(138, 80, 10) ;
    font-weight: 900;
    padding-right: 30%;
}


.experience
{
    margin-top: 12%;
    padding-bottom: 5%; 
}
.ligne3
{
    width: 450px;
    height: 30px;
    background-color:rgb(138, 80, 10) ;
    background: linear-gradient(90deg,rgb(138, 80, 10),rgb(226, 165, 91));
    border-right: 2px solid black;
}
.experience h2
{
    padding-top: 0.1%;
    margin-left: 15%;
    color: rgb(255, 255, 255);
}
.experience p
{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 4.5%;
}
.p2
{
    margin-left: 15%;
    color:rgb(138, 80, 10) ;
    font-weight: 900;
    padding-right: 40%;
}
.p3
{
    margin-left: 15%;
    color:rgb(138, 80, 10) ;
    font-weight: 900;
    padding-right: 35%;
}
.p4
{
    margin-left: 15%;
    color:rgb(138, 80, 10) ;
    font-weight: 900;
    padding-right: 50%;
}

/*Renseignement des informations dans le conteneur-gauche*/

.photo
{
    width: 350px;
    height: 250px;
    background-color:rgb(138, 80, 10) ;
    border-bottom: 2px solid black;
    
   
}
.photo img
{
    margin-top: 7%;
    margin-left: 22%;
}


.langue
{
    margin-left: 22%;
    margin-top: 10%;
   
}
.langue h2
{
   
    padding-left: 10%;
    background-color:  rgb(138, 80, 10);
    margin-right: 35%;
    color:  rgb(255, 255, 255);
    background: linear-gradient(45deg,rgb(138, 80, 10),rgb(226, 165, 91));
}
.langue ul li
{
    margin-top: 8%;
   margin-left: 17%;
    margin-right: 35%;
}

.skills
{
    margin-left: 22%;
    margin-top: 10%;
    
}
.skills h2
{
    
    padding-left: 10%;
    background-color:  rgb(138, 80, 10);
    margin-right: 58%;
color:  rgb(255, 255, 255);
background: linear-gradient(45deg,rgb(138, 80, 10),rgb(226, 165, 91));
}
.skills ul li
{
  margin-top: 8%;
   margin-left: 18%;
    margin-right: 10%;
}
.addr
{
    margin-top: 10%;
    margin-left: 25%;
}
.localisation,.phone,.mail,.site
{
    display: flex;
    margin-top: 5%;
}
.localisation p,.phone p,.mail p,.site p
{
    margin-left: 5%;
}
.localisation i,.phone i,.mail i,.site i
{
    color:  rgb(138, 80, 10);
   
}
.reseau
{
    display: flex;
    margin-left: 20%;
    margin-top: 5%;
    
}
.reseau i
{
    
    font-size: 20px;
    color:white;
}
.instagram
{
    margin-left: 5%;
    background-color: rgb(138, 80, 10) ;
    padding: 5px 8px 5px 8px ;
    border-radius: 10px;
    background: linear-gradient(45deg,rgb(138, 80, 10),rgb(226, 165, 91));
}
.twitter
{
  margin-left: 5%;
  background-color: rgb(138, 80, 10) ;
  padding: 5px 8px 5px 8px ;
  border-radius: 10px;
  background: linear-gradient(45deg,rgb(138, 80, 10),rgb(226, 165, 91));
}
.facebook 
{
    margin-left: 5%;
    background-color: rgb(138, 80, 10) ;
    padding: 5px 8px 5px 8px ;
    border-radius: 10px;
    background: linear-gradient(45deg,rgb(138, 80, 10),rgb(226, 165, 91));
}
.username
{
    color:  rgb(138, 80, 10);
    margin-left: 25%;
    margin-top: 3%;
    font-weight: 900;
    font-size: 20px;
}


@media only screen and (max-width:1024px)
{
    .conteneur
    {
        margin-top: 3%;
        width: 620px;
        margin-left: 18%;
    }
    .conteneur-droit
    {
        width: 350px;
    }
    .conteneur-gauche
    {
        width: 270px;
    }
    .ligne1
    {
        width: 350px;
        
    }
    .ligne2
    {
        width: 350px;
    }
    .ligne3
    {
        width: 350px;
    }
    .photo
    {
        width: 270px;
    }
    .photo img
    {
        margin-right: 20%;
        padding-right: 16%;
        padding-top: 6%;
    }
    .p1
    {
    margin-left: 15%;
    padding-right: 20%;  
    }
    .p2
    {
    margin-left: 15%;
    padding-right: 30%;  
    }
    .p3
    {
    margin-left: 15%;
    padding-right: 20%;  
    }
    .p4
    {
    margin-left: 15%;
    padding-right: 35%;  
    }
    .langue h2
{
    padding-left: 5%;
    
}
.skills h2
{
    padding-left: 5%;
    margin-right: 58%;

}
.langue ul li
{
    
   margin-left: 17%;
    margin-right: 20%;
}
.skills ul li
{

   margin-left: 18%;
    margin-right: 1%;
}
}

@media only screen and (max-width:500px)
{
  .conteneur
  {
    margin-top: 30%;
  }
}
